# Per zsh(1), this file is loaded for interactive shells
# This must be near the start of zsh configuration to provide complete profiling
# https://blog.tarkalabs.com/optimize-zsh-fce424fcfd5
if [[ "$ZPROF" = true ]]; then
  zmodload zsh/zprof
fi

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# FPATH
typeset -U fpath FPATH

{{ if eq .chezmoi.os "darwin" -}}
fpath+=("${BREW_PREFIX}/share/zsh/functions")
fpath+=("${BREW_PREFIX}/share/zsh/site-functions")

zstyle :omz:plugins:iterm2 shell-integration yes
{{- end }}

{{- $functions := glob ".config/zsh/.zfunctions/*" }}
{{ if $functions }}
# Custom functions
fpath+=($ZDOTDIR/.zfunctions)

# Set all custom defined functions to autoload on first use (lazy load)
autoload -Uz
{{-   range $functions -}}
{{ "" }} {{ . | splitList ".zfunctions/" | last }}
{{-   end }}
{{- end }}

export fpath FPATH

# The following lines were added by compinstall
zstyle ':completion:*' completer _expand _complete _ignored _approximate
zstyle ':completion:*' max-errors 1
zstyle :compinstall filename "${ZDOTDIR}/.zshrc"

autoload -Uz compinit
compinit
# End of lines added by compinstall

#
# Settings which must be specified before their plugins are loaded
#

# evalcache cache dir
ZSH_EVALCACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/evalcache"

# zsh cache dir used by some plugins
ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/oh-my-zsh"
if [[ ! -d ${ZSH_CACHE_DIR}/completions ]]; then
  mkdir -p ${ZSH_CACHE_DIR}/completions
fi

# zsh-lsd: Automatic directory lsting on cd
export AUTOCD=1

# source antidote - https://getantidote.github.io/
zstyle ':antidote:bundle' use-friendly-names 'yes'
{{/* TODO: antidote for other operating systems */}}
{{ if eq .chezmoi.os "darwin" -}}
source ${BREW_PREFIX}/opt/antidote/share/antidote/antidote.zsh
{{- end }}

# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load >/dev/null 2>&1

# To customize prompt, run `p10k configure` or edit .p10k.zsh.
[[ -r ${ZDOTDIR}/.p10k.zsh ]] && source ${ZDOTDIR}/.p10k.zsh

# Load any custom environment variables, including secure ones
[[ -r ${HOME}/.env ]] && source ${HOME}/.env
[[ -r ${HOME}/.env-secure ]] && source ${HOME}/.env-secure

# 1password cli completion
_evalcache op completion zsh && compdef _op op

# twilio completion is extrememly slow, even cached - disable unless actively
# using it
#_evalcache twilio autocomplete:script zsh

# GPG Agent (Also for ssh-agent provided by GPG)
[[ -r ${HOME}/.gnupg/shell-config.sh ]] && source ${HOME}/.gnupg/shell-config.sh

{{- if eq .chezmoi.os "linux" }}
# Wayland/Wayland
if loginctl show-session $(loginctl show-user ${USER} -p Display --value) -p Type --value | grep -q wayland ; then
        export XDG_SESSION_TYPE=wayland
        export GDK_BACKEND=wayland
else
        export XDG_SESSION_TYPE=X11
        export GDK_BACKEND=X11
fi
{{- end }}

# fzf zsh integration settings
[[ -r ${HOME}/.config/fzf/fzf.zsh ]] && source ${HOME}/.config/fzf/fzf.zsh

# Pet
[[ -r ${HOME}/.config/pet/pet.zsh ]] && source ${HOME}/.config/pet/pet.zsh

# Custom aliases
alias grep='grep --color=auto'
alias files='fd -uu -g --type=file ""'
alias terraforming='docker run --rm --name terraforming --volume=${HOME}/.aws:/root/.aws:ro quay.io/dtan4/terraforming:latest terraforming'
alias shellcheck='docker run --rm --name shellcheck --volume=${PWD}:/mnt:ro koalaman/shellcheck:stable'

#
# Configure most settings after plugin initialization to override opinionated plugins
#

# the detailed meaning of the below three variable can be found in `man zshparam`.
export HISTFILE=~/.histfile
export HISTSIZE=1000000   # the number of items for the internal history list
export SAVEHIST=1000000   # maximum number of items for the history file

# The meaning of these options can be found in man page of `zshoptions`.
setopt hist_ignore_all_dups  # do not put duplicated command into history list
setopt hist_save_no_dups  # do not save duplicated command
setopt hist_reduce_blanks  # remove unnecessary blanks
setopt no_hist_verify  # automatically execute commands with history expansion (!$, etc.)
setopt inc_append_history_time  # append command to history file immediately after execution
setopt extended_history  # record command start time
setopt interactivecomments  # Allow interactive shells to treat '#' as a comment
setopt no_nomatch  # Allow use of asterisk in commandlines without quoting, e.g. for grep/rg/fd

unsetopt autocd beep
bindkey -v

bindkey "^R" history-incremental-pattern-search-backward

# This must be near the end of zsh configuration to provide complete profiling
if [[ "$ZPROF" = true ]]; then
  zprof
fi
