# oh my zsh: core
ohmyzsh/ohmyzsh       path:lib

# oh my zsh: select plugins
ohmyzsh/ohmyzsh       path:plugins/fd       kind:fpath
ohmyzsh/ohmyzsh       path:plugins/gh
ohmyzsh/ohmyzsh       path:plugins/fzf
ohmyzsh/ohmyzsh       path:plugins/ripgrep  kind:fpath
ohmyzsh/ohmyzsh       path:plugins/vi-mode
ohmyzsh/ohmyzsh       path:plugins/zoxide

# alt+j / jq REPL
reegnz/jq-zsh-plugin

# _evalcache
mroth/evalcache

# Fish-like autosuggestions
zsh-users/zsh-autosuggestions

# Prompt theme
romkatv/powerlevel10k
#spaceship-prompt/spaceship-prompt
