# oh my zsh: core
ohmyzsh/ohmyzsh       path:lib
ohmyzsh/ohmyzsh       path:plugins/vi-mode
ohmyzsh/ohmyzsh       path:plugins/fd       kind:fpath
ohmyzsh/ohmyzsh       path:plugins/ripgrep  kind:fpath
ohmyzsh/ohmyzsh       path:plugins/zoxide
reegnz/jq-zsh-plugin
