#!/bin/bash
# Brewfile template hash: {{ include "../assets/darwin/Brewfile.tmpl" | sha256sum }}
# The brewfile in source control is a Chezmoi template so chezmoi logic can be used to control what
# packages/etc are installed - it must be manually rendered before brew can use it.
# This is done below.
brewfile_template="{{ .chezmoi.workingTree }}/assets/darwin/Brewfile.tmpl"
brewfile=$(mktemp)
chezmoi execute-template < "$brewfile_template" > "$brewfile"

install_homebrew() {
{{- if .headless }}
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ else }}
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}
  if [[ $? -ne 0 ]] ; then
    echo 'ERROR: Failed to install Homebrew!' >&2
    exit 1
  fi
}

install_bundle() {
  brew bundle install --file "$brewfile"

  if [[ $? -ne 0 ]] ; then
    echo "ERROR: Failed to install packages with \`brew bundle install --file \"$brewfile\"\`!" >&2
    exit 1
  fi
}

{{ if not (lookPath "brew") -}}
# Homebrew does not appear to be installed. Install it.
# WARNING: This is a potentially dangerous way to install things. Review the installer code before doing so.
install_homebrew
install_bundle
{{ else -}}
# Homebrew is installed
install_bundle
{{ end -}}

# Clean up rendered brewfile
rm -f "$brewfile"
