#!/bin/bash
# Brewfile hash: {{ include "../assets/darwin/Brewfile" | sha256sum }}
brewfile="{{ .chezmoi.workingTree }}/assets/darwin/Brewfile"

install_homebrew() {
{{- if .headless }}
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ else }}
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}
  if [[ $? -ne 0 ]] ; then
    echo 'ERROR: Failed to install Homebrew!' >&2
    exit 1
  fi
}

install_bundle() {
  brew bundle install --file "$brewfile"

  if [[ $? -ne 0 ]] ; then
    echo "ERROR: Failed to install packages with \`brew bundle install --file \"$brewfile\"\`!" >&2
    exit 1
  fi
}

{{ if not (lookPath "brew") -}}
# Homebrew does not appear to be installed. Install it.
# WARNING: This is a potentially dangerous way to install things. Review the installer code before doing so.
install_homebrew
install_bundle
{{ else -}}
# Homebrew is installed
install_bundle
{{ end -}}
