[General]
  snippetfile = "{{ .chezmoi.homeDir }}/.config/pet/snippet.toml"
  editor = "/usr/bin/vim"
  column = 40
  selectcmd = "fzf"
  backend = "gist"
  sortby = ""

[Gist]
  file_name = "pet-snippet.toml"
  gist_id = "3b192e749efd9aaf9479bde4f65f13d6"
  access_token = {{ gopass "_dotfiles/github/personal_access_token/pet" | quote }}
  public = true
  auto_sync = false
