{{- $email := get . "email" -}}{{- if not $email -}}
{{-     $email = promptString "What is your email" -}}
{{- end -}}
{{- $gpg_fingerprint := get . "gpg_fingerprint" -}}{{- if not $gpg_fingerprint -}}
{{-     $gpg_fingerprint = promptString "What is your GPG key fingerprint" -}}
{{- end -}}
{{- $personal_machine := get . "personal_machine" -}}{{- if not $personal_machine -}}
{{-     $personal_machine = promptBool "Is this a Personal machine (yes/no)" -}}
{{- end -}}
{{- $work_machine := get . "work_machine" -}}{{- if not $work_machine -}}
{{-     $work_machine = promptBool "Is this a Work machine (yes/no)" -}}
{{- end -}}
[data]
    name = "Ian Gallagher"
    username_work = "igallagher"
    username_personal = "crash"
    email = {{ $email | quote }}
    gpg_fingerprint = {{ $gpg_fingerprint | nospace | quote }}
    personal_machine = {{ $personal_machine }}
    work_machine = {{ $work_machine }}

[diff]
    pager = "diff-so-fancy"

[gpg]
    recipient = {{ $gpg_fingerprint | nospace | quote }}

encryption = "gpg"
