context:
  machine:
    personal: false
    work_managed: false
    work_oob: false
  git:
    identity: personal

identity:
  personal:
    name:
    email:
    username:
    gpg_fingerprint:

  work:
    name:
    email:
    username:
    gpg_fingerprint:
