# FIXME: This isn't a real template rendered by Chezmoi, instead copy it to the .yaml version with only one context present.
# FIXME: Do this all in a proper .chezmoi.yaml.tmpl like in https://github.com/twpayne/dotfiles/blob/master/home/.chezmoi.toml.tmpl
context:
  machine:
    personal: false
    work_managed: false
    work_oob: false
  git:
    identity: personal

identity:
  personal:
    name:
    email:
    username:
    gpg_fingerprint:

  work:
    name:
    email:
    username:
    gpg_fingerprint:
