[init]
        defaultBranch = main
[user]
        {{ if eq .context.git.identity "work" -}}
        name = "{{ .identity.work.name }}"
        email = "{{ .identity.work.email }}"
        signingkey = "{{ .identity.work.gpg_fingerprint }}"
        {{- else -}}
        name = "{{ .identity.personal.name }}"
        email = "{{ .identity.personal.email }}"
        signingkey = "{{ .identity.personal.gpg_fingerprint }}"
        {{- end }}
[commit]
        gpgsign = true
	verbose = true
	template = ~/.gitcommittemplate
[core]
        pager = diff-so-fancy | less --tabs=4 -RFX
	commitGraph = true
[interactive]
        diffFilter = diff-so-fancy --patch
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = 11
        frag = magenta bold
        func = 146 bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[log]
	date = relative
[merge]
	renamelimit = 2048
[gc]
	writeCommitGraph = true
[fetch]
	writeCommitGraph = true
[checkout]
	defaultRemote = origin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	unstage = reset --
	l = log --date=iso --pretty='format:%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s'
	lg = log --date=iso --graph --pretty='format:%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s'
	lol = log --graph --pretty='format:%Cred%h%Creset%C(yellow)%d%Creset %s%Cgreen (%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	#lg = log --pretty='format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(14,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D'
	#lol = log --graph --pretty=oneline --abbrev-commit --decorate=short
