{{- /* vim set filetype=sh: */ -}}
{{- $common_packages := "gnupg gopass ripgrep jq fzf pyenv pyenv-virtualenv zsh" -}}
{{- $macos_brew_packages := "pinentry-mac romkatv/powerlevel10k/powerlevel10k" -}}
{{- $debian_apt_packages := "" -}}
{{- $arch_packages := "pcsclite nerd-fonts-complete ttf-meslo-nerd-font-powerlevel10k diff-so-fancy bemenu pinentry-bemenu zsh-autosuggestions zsh-completions zsh-syntax-highlighting zsh-theme-powerlevel10k-git" -}}

{{- if eq .chezmoi.osRelease.id "debian" -}}
#!/bin/bash
{{  if $common_packages -}}
# Install common packages
apt-get install {{ $common_packages }}
{{-  end }}

{{   if $debian_apt_packages -}}
# Install debian/ubuntu specific packages
apt-get install {{ $debian_apt_packages }}
{{-  end -}}

{{-  else if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash
# Update package databases
sudo pacman -Sy

# Install yay for aur support
sudo pacman --needed -S base-devel git && \
  yaydir="${HOME}/src/yay" && \
  mkdir -p "${yaydir}" && \
  git clone https://aur.archlinux.org/yay.git "${yaydir}" && \
  cd "${yaydir}" && \
  makepkg -si && \
  cd -

yaycmd="yay -Sy --needed --noprovides --answerdiff None --answerclean All --answeredit None --answerupgrade None --noremovemake"

{{  if $common_packages -}}
# Install common packages
$yaycmd {{ $common_packages }} <<< Y
{{-  end }}

{{   if $arch_packages -}}
# Install arch specific packages
$yaycmd {{ $arch_packages }} <<< Y
{{-  end -}}

{{- else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Install Homebrew if not present
if ! command -v brew ; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{   if $common_packages }}
# Install common packages
brew install {{ $common_packages }}
{{-  end }}
{{   if $macos_brew_packages }}
# Install macOS brew specific packages
brew install {{ $macos_brew_packages -}}
{{-  end -}}
{{- end }}
