# Default editor
export EDITOR="$(command -v vim)"

# bat config
if command -v bat >/dev/null 2>&1 ; then
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
  export BAT_THEME="Coldark-Dark"
elif command -v batcat >/dev/null 2>&1 ; then
  export MANPAGER="sh -c 'col -bx | batcat -l man -p'"
fi

# Default pager (MANPAGER will use this unless set, too)
export PAGER="$(command -v bat) --style=plain"

# ranger file manager settings
export RANGER_LOAD_DEFAULT_RC=FALSE

# Java fix for Sway (https://wiki.archlinux.org/title/Java#Gray_window,_applications_not_resizing_with_WM,_menus_immediately_closing)
export _JAVA_AWT_WM_NONREPARENTING=1
