# vim: set filetype=sshconfig:
# Apply these settings last, to all host specifications. If no configuration
# match had a given keyword before parsing this, these values will be used.

Host *
        {{ if eq .chezmoi.os "darwin" -}}
        # Use the macOS Keychain to store private key passphrases/unlock them
        UseKeychain yes
        {{ end -}}
        AddKeysToAgent yes
        # https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Modern
        # Host keys the client accepts - order here is honored by OpenSSH
        HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp384,ecdsa-sha2-nistp256
        KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
        MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
        Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
        VisualHostKey yes
        HashKnownHosts yes
        # Only use this for hosts/zones that we know have it set, otherwise timeouts are annoying and essentially guaranteed
        VerifyHostKeyDNS no
        ServerAliveInterval 5
        ServerAliveCountMax 3
        AddressFamily inet
        # NOTE: Control* settings are advanced. They can cause SSH to break in
        # unexpected ways, but yield a substantial speed up when you
        # repeatedly login to remote machines.  If you enable them, make sure
        # you read the man pages and understand the consequences.
        ControlPath /tmp/.ssh-%C
        ControlMaster auto
        ControlPersist 60
        #TCPKeepAlive yes # Disabled because it will kill connections if a route is down even temporarily
        Compression no
        ForwardX11 no
        GSSAPIAuthentication no
        StrictHostKeyChecking ask
