enable-ssh-support
allow-loopback-pinentry
{{ if eq .chezmoi.os "linux" -}}
pinentry-program {{ .chezmoi.homeDir }}/.gnupg/.pinentry
{{- else if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "arm64" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{- else -}}
pinentry-program /usr/local/bin/pinentry-mac
{{- end }}
{{- end }}

# Set the default cache time to 8 hours.
default-cache-ttl       28800
default-cache-ttl-ssh   28800

# Set the max cache time to 1 day.
max-cache-ttl           86400
max-cache-ttl-ssh       86400
