{{- /* vim set filetype=sh.chezmoitmpl: */ -}}
{{- if lookpath "vim" -}}
#!/bin/bash
echo -n "Installing Vim Plugins via Vundle..."
if ! (echo | vim +PluginInstall +qall &>/dev/null); then
  echo " Failed!" >&2
else
  echo " Success!"
fi
{{- end }}
