# vim: set filetype=ruby:
{{/* vim: set filetype=ruby.chezmoitmpl: */}}
# Brewfile/brew bundle documentation: https://github.com/Homebrew/homebrew-bundle

# Custom taps (brew tap)
{{ if .context.machine.personal -}}
tap "mistertea/et"
tap "twilio/brew"
{{ end -}}
tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts" # Nerd Fonts: https://www.nerdfonts.com/
tap "homebrew/core"
tap "knqyf263/pet" # pet snippet manager
tap "romkatv/powerlevel10k"
tap "sidneys/homebrew"

# set arguments for all 'brew install --cask' commands
cask_args appdir: "~/Applications", require_sha: true

# Formulae (brew install)
{{ if .context.machine.personal -}}
brew "colima" # Docker/container runtime
brew "docker" # Docker Engine - Community
brew "mistertea/et/et"
brew "twilio/brew/twilio"
{{ end -}}
brew "age"
brew "antidote"
brew "bat"
brew "bat-extras"
brew "chezmoi"
brew "croc"
brew "exiftool"
brew "fd"
brew "ffmpeg"
brew "ffuf"
brew "fzf"
brew "gawk"
brew "gh"
brew "git-delta"
brew "gnupg"
brew "go"
brew "gopass"
brew "htop"
brew "imagemagick"
brew "iperf3"
brew "jq"
brew "mas"
brew "miller" # mlr: nice tool for working with csv/tsv/json - fills some gaps jq has and is robust for non-json formats
brew "moreutils" # sponge, parallel
brew "mosh"
brew "mtr"
brew "naabu"
brew "ncdu"
brew "nmap"
brew "node"
brew "nuclei"
brew "nvm"
brew "openssh"
brew "pinentry-mac"
brew "pipx"
brew "pre-commit"
brew "pv"
brew "pyenv"
brew "pyenv-virtualenv"
brew "rclone"
brew "ripgrep"
brew "romkatv/powerlevel10k/powerlevel10k"
brew "sevenzip"
brew "sipcalc"
brew "speedtest-cli"
brew "terraform"
brew "tflint"
brew "tmux"
brew "vim"
brew "virtualenv"
brew "watch"
brew "wget"
brew "ykman"
brew "yq"
brew "zoxide"
brew "zsh"

# Formulae (brew install) - explicit/fully qualified taps
brew "knqyf263/pet/pet"

# Casks (brew install --cask)
{{ if .context.machine.personal -}}
cask "backblaze", args: { require_sha: false }
cask "balenaetcher"
cask "calibre"
cask "cryptomator"
cask "discord"
cask "handbrake"
cask "nheko"
cask "plex"
cask "signal"
cask "tailscale"
cask "todoist"
cask "vlc"
cask "zerotier-one"
{{ end -}}
{{ if .context.machine.work_managed -}}
cask "docker" # Docker desktop
{{ end -}}
cask "1password", args: { appdir: "/Applications" }
cask "1password-cli"
cask "alfred"
cask "burp-suite-professional"
cask "firefox"
cask "github"
cask "google-chrome", args: { require_sha: false }
cask "iterm2"
cask "keybase"
cask "obsidian"
cask "setapp"
cask "visual-studio-code"
cask "wireshark"

# Nerd Fonts: https://www.nerdfonts.com/
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "font-hack-nerd-font"
cask "font-inconsolata-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-meslo-lg-nerd-font"

# Apple Fonts: https://developer.apple.com/fonts/
cask "font-new-york", args: { require_sha: false }
cask "font-sf-compact", args: { require_sha: false }
cask "font-sf-mono", args: { require_sha: false }
cask "font-sf-pro", args: { require_sha: false }

# Mac App Store Apps (mas install)

# Whalebrew containerized apps (whalebrew install)
