{{/* vim: set filetype=gitconfig: */}}
[init]
        defaultBranch = main

[user]
        {{ if .context.machine.personal -}}
        name = "{{ .identity.personal.name }}"
        email = "{{ .identity.personal.email }}"
        signingkey = "{{ .identity.personal.gpg_fingerprint }}"
        {{- else -}}
        name = "{{ .identity.work.name }}"
        email = "{{ .identity.work.email }}"
        signingkey = "{{ .identity.work.gpg_fingerprint }}"
        {{- end }}

[commit]
        gpgsign = true
	verbose = true
	template = {{ .chezmoi.homeDir }}/.config/git/commit.template

[core]
        pager = delta
	commitGraph = true

[interactive]
        diffFilter = delta --color-only

[add.interactive]
        useBuiltin = false # required for git 2.37.0

[delta]
        navigate = true    # use n and N to move between diff sections
        light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
        line-numbers = true
        side-by-side = true
        features = DarkNeon

[merge]
	renamelimit = 2048
        conflictstyle = diff3

[diff]
        colorMoved = default

[color]
        ui = true

[log]
	date = relative

[gc]
	writeCommitGraph = true

[fetch]
	writeCommitGraph = true

[checkout]
	defaultRemote = origin

[push]
        autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	unstage = reset --
	l = log --date=iso --pretty='format:%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s'
	lg = log --date=iso --graph --pretty='format:%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s'
	lol = log --graph --pretty='format:%Cred%h%Creset%C(yellow)%d%Creset %s%Cgreen (%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	#lg = log --pretty='format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(14,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D'
	#lol = log --graph --pretty=oneline --abbrev-commit --decorate=short

[url "git@github.com:craSH/"]
	insteadOf = https://github.com/craSH/

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}
